<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jordanmadrigal.lendsum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".View.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".View.HomeActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.LogInActivity"
            android:screenOrientation="portrait"
            android:label="@string/welcome_msg" />

        <activity
            android:name=".View.CreateProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/create_new_profile"
            android:parentActivityName=".View.HomeActivity" />

        <activity
            android:name=".View.ForgotPassActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".View.HomeActivity" />

        <activity
            android:name=".View.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />

        <activity
            android:name=".View.SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".View.HomeActivity"
            android:label="Settings"/>

        <activity
            android:name=".View.InviteFriendsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".View.HomeActivity"
            android:label="Invite Friends"/>

        <activity
            android:name=".View.HelpActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".View.HomeActivity"
            android:label="Help"/>
    </application>

</manifest>